<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gatech.a2340.donationtracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.SecondActivity" />
        <activity android:name=".controllers.RecyclerActivity" />
        <activity android:name=".controllers.MainActivity" />
        <activity android:name=".controllers.LocationDetailActivity" />
        <activity
            android:name=".controllers.RegisterActivity"
            android:exported="true" />
        <activity android:name=".controllers.EmployeeDashboardActivity" />
        <activity android:name=".controllers.AddItemActivity" />
        <activity android:name=".controllers.EmployeeViewItemsActivity" />
        <activity android:name=".controllers.ItemDetailActivity" />
        <activity android:name=".controllers.UserDashboardActivity" />
        <activity android:name=".controllers.SearchItemActivity" />
        <activity android:name=".controllers.SearchViewItemActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3uLpITJlvyWW7k1S0p8eVIgzF4LP2pZg" />

        <activity
            android:name=".controllers.MapsActivity"
            android:label="Map" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity android:name="edu.gatech.cs2340.m4solution.controllers.MapsActivity" />
    </application>

</manifest>